<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Forgot Password</title>
  </head>
  <body class="p-5">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-12">

          {{!
            PAGE_START: To include this as a page within an existing experience layout,
            keep everything between PAGE_START and PAGE_END. All other content can be
            removed since it's provided by the surrounding layout.
          }}

          <h2 class="text-center">Forgot Password</h2>

          {{#if request.query.resetError}}
            <div class="alert alert-danger" role="alert">
              Invalid reset token. Please attempt another password reset request.
            </div>
          {{/if}}
          
          {{#if pageData.error}}
            <div class="alert alert-danger" role="alert">
              {{pageData.error}}
            </div>
          {{/if}}

          {{#if pageData.success}}
            <div class="alert alert-success" role="alert">
              Password reset request received. Check your inbox for further instructions.
            </div>
          {{/if}}

          <div class="alert alert-secondary" role="alert">
            <p>
              Please enter your email address below. If an account with this
              address exists, an email will be sent with instructions on how to reset your password.
            </p>
          </div>

          <form method="POST">
          
            <div class="form-group">
              <label for="emailField">Email address</label>
              <input type="email" class="form-control" value="{{pageData.email}}" placeholder="name@example.com" id="emailField" name="email" required>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
            
          </form>

          {{! PAGE_END }}
          
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>