<turbo-frame id="cpf-element-device-summary">
  <div class="container-fluid">

    <div class="row">
      <div class="col-12">
        <span class="align-middle me-1 material-symbols-outlined primary-icon cpf-icon-header">token</span>
        <span class="align-middle">Devices</span>
        {{!-- <img class="cpf-spinner" src="{{file 'spinner.gif'}}"> --}}
      </div>
    </div>

    <div class="row pt-4">
      <div class="col-12">
        <div class="d-flex align-items-end justify-content-center">
          <div class="text-end text-primary summary-count-lg me-2">
            {{pageData.totalDevices}}
          </div>
          <div class="summary-label">Total</div>
        </div>
      </div>
    </div>

    <div class="row py-3">
      <div class="col-12">
        <hr />
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-end justify-content-center">
          <div class="text-end text-success summary-count-sm me-2">
            {{pageData.connectedDevices}}
          </div>
          <div class="summary-label">Connected</div>
        </div>
      </div>
    </div>

    <div class="row pt-2">
      <div class="col-12">
        <div class="d-flex align-items-end justify-content-center">
          <div class="text-end text-danger summary-count-sm me-2">
            {{pageData.disconnectedDevices}}
          </div>
          <div class="summary-label">Disconnected</div>
        </div>
      </div>
    </div>

  </div>
</turbo-frame>