<h1 class="h3 text-center mb-3">Reset Password</h2>
<p>
  Please provide a new password below.
</p>
{{#if pageData.error}}
  <div class="alert alert-danger mb-3" role="alert">
    {{pageData.error}}
  </div>
{{/if}}


<form method="POST">

  <div class="mb-3">
    <label for="emailField" class="form-label">Email *</label>
    <input type="email" class="form-control" value="{{pageData.email}}" placeholder="name@example.com" id="emailField" name="email" required readonly>
  </div>

  <div class="mb-5">
    <label for="passwordField" class="form-label">New Password *</label>
    <input type="password" class="form-control" id="passwordField" name="password" required minlength="8" autofocus>
  </div>

  <button type="submit" class="btn btn-primary w-100 mb-5">Reset My Password</button>
  
</form>
