<turbo-frame id="cpf-element-top-nav">
  <nav class="navbar-top navbar navbar-light navbar-expand-md fixed-top">
    <div class="container-fluid">
      <button class="navbar-toggler me-2" type="button" data-bs-toggle="collapse" data-bs-target="#cpf-navbar-collapse"
        aria-controls="cpf-navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src="{{file pageData.logo}}" alt="Logo" height="24">
      </a>
      <div class="dropdown d-flex">
        <div class="material-symbols-outlined cpf-icon-medium dropdown-toggle cpf-text-dark cpf-user-dropdown-toggle" type="button"
          data-bs-toggle="dropdown">
          account_circle
        </div>
        <ul class="dropdown-menu dropdown-menu-end" id="accountDropdown">
          <li><a class="dropdown-item" href="/me/profile">Profile</a></li>
          <li><a class="dropdown-item" href="/logout">Log Out</a></li>
        </ul>
      </div>
    </div>
  </nav>
</turbo-frame>