<div class="py-5">
  <div style="max-width: 300px; margin: 0 auto 20px; text-align: center;">
    <img class="img-fluid" src="{{file '/enocean-logo.png'}}" alt="Logo">
  </div>

  {{!
    If the credentials are incorrect, the workflow redirects back to this page
    with pageData.loginFailure set to true. Check for that value and
    show an error message.
  }}

  {{#if pageData.loginFailure}}
    <div class="alert alert-danger" role="alert">
      Incorrect email or password.
    </div>
  {{/if}}

  <div class="alert alert-info" role="alert">
    <p>Welcome to the EnOcean IoT Starter Kit application template!</p>
    <p>To get started, create an <a href="https://~exportplaceholderid-docs-url~/experiences/users/" target="_blank">Experience User</a> within this application and then sign in using the form below.</p>
  </div>

  <form method="POST">

    <div class="form-group">
      <label for="emailField">Email address</label>
      <input type="email" class="form-control" value="{{pageData.email}}" placeholder="name@example.com" id="emailField" name="email" required>
    </div>

    <div class="form-group">
      <label for="passwordField">Password</label>
      <input type="password" class="form-control" id="passwordField" name="password" required minlength="8">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    
  </form>
</div>