<turbo-frame id="cpf-element-device-history-graph">
  <div class="container-fluid w-100 h-100 px-0">
    <div class="row">
      <div class="col-12 ps-4">
        <span class="align-middle ms-2 me-1 material-symbols-outlined text-primary cpf-icon-header">token</span>
        <span class="align-middle" style="font-size: 16px;">Devices Created, Last 30 Days</span>
      </div>
      {{!-- <img class="cpf-spinner" src="{{file 'spinner.gif'}}"> --}}
    </div>

    <div class="row">
      <div  class="w-100 col-12 mt-3 history-graph"
        data-controller="cpf-element-device-history-graph"
        data-cpf-element-device-history-graph-points-value='{{jsonEncode pageData.counts}}'>
        <div class="w-100 h-100" data-cpf-element-device-history-graph-target="graph">
          <!-- The Graph -->
        </div>
      </div>
    </div>

  
</turbo-frame>