<h1 class="h3 text-center mb-3">Forgot Password</h1>
<p>
  Please enter your email address below. If an account with this
  address exists, an email will be sent with instructions on how to reset your password.
</p>

<form method="POST">
  {{#if request.query.error}}
    <div class="alert alert-danger" role="alert">
      {{request.query.error}}
    </div>
  {{/if}}
  {{#if request.query.success}}
    <div class="alert alert-success" role="alert">
      Password reset request received. Check your inbox for further instructions.
    </div>
  {{/if}}
  {{#if request.query.resetError}}
    <div class="alert alert-danger" role="alert">
      Reset token is invalid or has already been used. Please submit a new password reset request.
    </div>
  {{/if}}
  <div class="mb-5">
    <label for="emailField" class="form-label">Email *</label>
    <input type="email" class="form-control" value="{{request.query.email}}" placeholder="name@example.com" id="emailField" name="email" required autofocus>
  </div>
  <button type="submit" class="btn btn-primary w-100 mb-5">Request Password Reset</button>
</form>
